
.DS_Store
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
dist
build
coverage
*.log
*.lock
*.log.*
.env.local
.env.local.*
.env.development
.env.development.*
.env.test
.env.test.*
.env.production
.env.production.*
